* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    color: white;

}

.header {
    padding: 20px 10%;
    background: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-board {
    font-size: 30px;
    color: grey;
    text-decoration: none;
    font-weight: bold;

}

.box {
    background-color: black;
    display: block;
    text-align: center;
    padding: 15%;
}
