* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    color: white;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

.score-board {
    font-size: 40px;
    color: grey;
    text-decoration: none;
    font-weight: bold;

}